/**/bin/
/**/*.o
/**/*.exe
/**/.vscode/
/**/.idea/
/cmake*

/**/TestFiles/
/**/files/
/**/*.zip


/**/tokens_output.txt
/**/cst_output.txt
/**/program_output.txt
/**/symbol_table_output.txt
/**/ast_output.txt

/**/vgcore.*
